@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AktualnosciSzczegoly>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout.cshtml";
	ViewBag.ActivePage = 1;
}
<link href="/css/NewsDetails.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="reset-font-medium lecture-name">
                Nie powtarzaj się! <br />
                Czyli o AOP słów kilka.
            </h4>
            <p class="reset-font-small lecture-description">
                W trakcie tej prezentacji dowiesz czym właściwie jest AOP
                i do czego może się przydać w praktyce.
                W trakcie tej prezentacji dowiesz czym właściwie jest AOP
                i do czego może się przydać w praktyce.
                W trakcie tej prezentacji dowiesz czym właściwie jest AOP
                i do czego może się przydać w praktyce.
                W trakcie tej prezentacji dowiesz czym właściwie jest AOP
                i do czego może się przydać w praktyce.
            </p>
        </div>
        <div class="row">
            <div class="lecture-time-box ">
                <div class="col-md-2 text-center">
                    <div class="calendar-icon hvr-wobble-vertical">
                        <i class="fa fa-calendar-o"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="reset-font-medium">
                            <strong>
                                13.01.2016
                            </strong>
                        </h4>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="clock-icon hvr-wobble-vertical">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="reset-font-medium ">
                            <strong>
                                17:00
                            </strong>
                        </h4>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="localize-icon hvr-wobble-vertical">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="reset-font-medium ">
                            <strong>
                                L 120
                            </strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="teacher-box" id="about">
    <!-- start about us -->
    <div class="container">
        <div class="row about">
            <div class="col-md-3 teacher_img">
                <img src="/media/1094/member-01.jpg" alt="" class="img-circle img-responsive" />
            </div>
            <div class="col-md-9 about_text">
                <p class="reset-font-medium"><strong>Prelegent: </strong>Rafał Łopatka</p>
                <p class="reset-font-small teacher-profession">Programista w firmie EUVIC</p>
                <p class="teacher-desc">
                    Człowiek od dawna związany z  Akademią Techniczno-HUmanistyczną
                    w Bielsku-Białej oraz Kołem RESET. W latach 2012-2014 pełnił funckję
                    Microsoft Student Partnera. Na co dzień związany z firmą EUVIC, gdzie pracuje
                    jako programista.
                </p>
                <div class="soc_icons navbar-right">
                    <ul class="list-unstyled text-center">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section purchase3 ">
    <div class="container text-center">
        <div class="fb-icon hvr-wobble-vertical">
            <i class="fa fa-facebook-square"></i>
        </div>
        <br />
        <br />
        <h2 class="reset-font-large fb-event">
            ŚLEDŹ WYDARZENIE
            NA FACEBOOK
            <br />
            <br />
            <br />


        </h2>
        <div class=" reset-font-medium button-reset-default">
            DOŁĄCZ DO WYDARZENIA<br />I BĄDŹ NA BIEŻĄCO
        </div>
    </div>
    <!-- .container -->
</div>