@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Aktualnosci>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout.cshtml";
	ViewBag.ActivePage = 1;
}
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="reset-font-large">
                    <strong>@Umbraco.Field("pageTitle")AKTUALNOŚCI</strong>
                </p> <br />
                <p class="reset-font-small">PRZECZYTAJ O NASZYCH SPOTKANIACH, KONFERENCJACH I SUKCESACH</p>
            </div>
        </div>
        <div id="Filters">
            <div class="row">
                <ul class="text-center" id="filter-list">
                    <li class="filter-button gray filter" data-filter=".year-2016">2016</li>
                    <li class="filter-button gray filter" data-filter=".year-2015">2015</li>
                    <li class="filter-button gray filter" data-filter=".year-2014">2014</li>
                </ul>
            </div>
            <div class="row">
                <ul class="text-center">
                    <li class="filter-button gray filter active" data-filter=".all">WSZYSTKIE</li>
                    <li class="filter-button blue filter" data-filter=".category-lectures">WYKŁADY</li>
                    <li class="filter-button violet filter" data-filter=".category-conference">KONFERENCJE</li>
                    <li class="filter-button green filter" data-filter=".category-success">SUKCESY</li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="sortList">
            <!-- Start Service Icon 1 -->
            <div class="col-md-3 col-sm-6 service-box service-center mix category-lectures year-2015 all" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon blue">
                    <i class="fa fa-graduation-cap"></i>

                </div>
                <div class="service-content">
                    <div class="title-border blue"></div>
                    <h4 class="reset-font-small ">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.

                        </strong>

                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.

                    </p>
                    <i class="fa fa-ellipsis-h icon_color_blue"></i>
                </div>

            </div>
            <!-- End Service Icon 1 -->
            <!-- Start Service Icon 2 -->
            <div class="col-md-3 col-sm-6 service-box service-center mix category-conference year-2016 all" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon violet">
                    <i class="fa fa-group"></i>

                </div>
                <div class="service-content">
                    <div class="title-border violet"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.

                        </strong>

                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.

                    </p>
                    <i class="fa fa-ellipsis-h icon_color_violet"></i>

                </div>

            </div>
            <!-- End Service Icon 2 -->
            <!-- Start Service Icon 3 -->
            <div class="col-md-3 col-sm-6 service-box service-center mix category-success year-2016 all" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon green">
                    <i class="fa fa-commenting"></i>

                </div>
                <div class="service-content">
                    <div class="title-border green"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.

                        </strong>

                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.

                    </p>
                    <i class="fa fa-ellipsis-h icon_color_green"></i>

                </div>

            </div>
            <!-- End Service Icon 3 -->
            <!-- Start Service Icon 4 -->
            <div class="col-md-3 col-sm-6 service-box service-center mix category-lectures year-2015 all" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon blue">
                    <i class="fa fa-graduation-cap"></i>

                </div>
                <div class="service-content">
                    <div class="title-border blue"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.

                        </strong>

                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.

                    </p>
                    <i class="fa fa-ellipsis-h icon_color_blue"></i>

                </div>

            </div>
            <!-- End Service Icon 4 -->
            <!-- Start Service Icon 5 -->
            <div class="col-md-3 col-sm-6 service-box service-center category-conference mix year-2015 all" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon violet">
                    <i class="fa fa-group"></i>

                </div>
                <div class="service-content">
                    <div class="title-border violet"></div>
                    <h4 class="reset-font-small ">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.

                        </strong>

                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.

                    </p>
                    <i class="fa fa-ellipsis-h icon_color_violet"></i>

                </div>

            </div>
            <!-- End Service Icon 5 -->
            <!-- Start Service Icon 6 -->
            <div class="col-md-3 col-sm-6 service-box service-center category-success mix year-2015 all" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon green">
                    <i class="fa fa-commenting"></i>

                </div>
                <div class="service-content">
                    <div class="title-border green"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.

                        </strong>

                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.

                    </p>
                    <i class="fa fa-ellipsis-h icon_color_green"></i>

                </div>

            </div>
            <!-- End Service Icon 6 -->
            <!-- Start Service Icon 7 -->
            <div class="col-md-3 col-sm-6 service-box service-center category-lectures mix year-2014 all" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon blue">
                    <i class="fa fa-graduation-cap"></i>

                </div>
                <div class="service-content">
                    <div class="title-border blue"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.

                        </strong>

                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.

                    </p>
                    <i class="fa fa-ellipsis-h icon_color_blue"></i>

                </div>

            </div>
            <!-- End Service Icon 7 -->
            <!-- Start Service Icon 8 -->
            <div class="col-md-3 col-sm-6 service-box service-center category-lectures mix year-2014 all" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon blue">
                    <i class="fa fa-graduation-cap"></i>

                </div>
                <div class="service-content">
                    <div class="title-border blue"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.

                        </strong>

                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.

                    </p>
                    <i class="fa fa-ellipsis-h icon_color_blue"></i>

                </div>

            </div>
            <!-- End Service Icon 8 -->
            <!-- .row -->

        </div>
        <!-- .container -->
    </div>
</div>