@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
	ViewBag.ActivePage = 2;
}
<link href="/css/Gallery.css" rel="stylesheet" />
<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="reset-font-large">
                    <strong>GALERIA</strong>
                </p> <br />
                <p class="reset-font-small">OGLĄDAJ ZDJĘCIA Z NASZYCH WYKŁADÓW, KONFERENCJI <br /> ZOBACZ JAK SPĘDZAMY CZAS!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="/media/1087/konferencja_itad2015.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3 class="reset-font-medium">Konferencja IT Academic Day 2015 </h3>
                <h4 class="reset-font-small">20 listopada 2015</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="button-reset-default black" href="/galeria/1">ZOBACZ GALERIĘ<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="/media/1131/wyklad_jcommerce.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3 class="reset-font-medium">Wykład Jcommerce </h3>
                <h4 class="reset-font-small">10 luty 2015</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="button-reset-default black" href="#">ZOBACZ GALERIĘ<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="/media/1132/wyklad_wwrobel.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3 class="reset-font-medium">Wykład Wojciecha Wróbla </h3>
                <h4 class="reset-font-small">12 grudnia 2013</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="button-reset-default black" href="#">ZOBACZ GALERIĘ<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="/media/1131/wyklad_jcommerce.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3 class="reset-font-medium">Wykład Jcommerce </h3>
                <h4 class="reset-font-small">10 luty 2015</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="button-reset-default black" href="#">ZOBACZ GALERIĘ<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="/media/1131/wyklad_jcommerce.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3 class="reset-font-medium">Wykład Jcommerce </h3>
                <h4 class="reset-font-small">10 luty 2015</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="button-reset-default black" href="#">ZOBACZ GALERIĘ<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <hr>

        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>