@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	Layout = "Layout.cshtml";
	ViewBag.ActivePage = 4;
}
<link href="/css/Projects.css" rel="stylesheet" />

<div class="container ptb">
    <div class="row">
        <h2 class="centered mb reset-font-medium">Untwisted. Find your place tonight.</h2>
        <div class="col-md-4">
            <h5 class="reset-font-medium"><b>CO TO TAKIEGO?</b></h5>
            <p class="reset-font-extra-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div><!--/col-md-4-->
        <div class="col-md-4">
            <h5 class="reset-font-medium"><b>DLA KOGO?</b></h5>
            <p class="reset-font-extra-small">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</p>
        </div><!--/col-md-4-->
        <div class="col-md-4">
            <h5 class="reset-font-medium"><b>PO CO?</b></h5>
            <p class="reset-font-extra-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div><!--/col-md-4-->
    </div><!--/row-->
</div><!-- /.container -->
<div class="section purchase4"></div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 centered">
            <img src="/media/1152/utwisted_logo.png" width="200" alt="">
            <div class="row">
                <div class="col-sm-4">
                    <h2><b>80.000</b></h2>
                    <h6>MONTHLY VISITS REGISTERED</h6>
                </div><!--/col-sm-4-->
                <div class="col-sm-4">
                    <h2><b>5.863</b></h2>
                    <h6>USERS SUBSCRIBED</h6>
                </div><!--/col-sm-4-->
                <div class="col-sm-4">
                    <h2><b>24</b></h2>
                    <h6>THEMES PUBLISHED</h6>
                </div><!--/col-sm-4-->
            </div><!--/.row-->
        </div><!--/col-md-10-->
    </div><!--/row-->
    <div class="row mt">
        <div class="col-md-8 col-md-offset-2">
            <img src="/media/1150/untwisted_screen.png" class="img-responsive aligncenter" alt="">
        </div>
    </div><!--/.row-->
</div><!--/.container-->