@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Layout.cshtml";
    ViewBag.ActivePage = 4;
    var childrens = CurrentPage.Children;

}
<link href="/css/Projects.css" rel="stylesheet" />
<link href="~/Content/css/prettyPhoto.css" rel="stylesheet" />
<link href="~/Content/css/hoverex-all.css" rel="stylesheet" />

<div class="container ptb">
    <div class="row">
        <h2 class="centered mb reset-font-medium">RESET to nie tylko wykłady i konferencje!<br />To przede wszystkim projekty, które tworzymy doskonaląc swoje umiejętności<br /> i ucząc się pracy w zespole</h2>
        <div class="col-md-6">
            <p class="reset-font-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div><!--/col-md-6-->
        <div class="col-md-6">
            <p class="reset-font-small">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</p>
        </div><!--/col-md-6-->
    </div><!--/row-->
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <img src="/media/1153/content_img.png" class="img-responsive" alt="">
        </div>
    </div><!--/row-->
</div><!--/.container-->
<div class="container">
    <div class="row centered">
        <h2 class="reset-font-medium">Zobacz co do tej pory udało nam się zrealizować.</h2>
        <div class="col-md-8 col-md-offset-2">
            <p class="reset-font-small">Naszym celem jest tworzenie rzeczy użytecznych i pomocnych. Część z naszym projektów została poddana fazie komercjalizacji dzięki czemu większe grono użytkowników będzie mogło z nich korzystać i ułatwiać sobie życie! </p>
        </div><!--/col-md-8-->
    </div><!--/row-->
</div><!--/.container-->
<div class="container">
    <div class="portfolio">
        <div class="row pt-md text-center">
            @foreach (var children in childrens)
            {
                var innerUmbracoHelper = new UmbracoHelper(UmbracoContext, Umbraco.Content(children.Id));
                <div class="col-sm-4 col-xs-12 profile">
                    <div class="img-box">
                        <img src="@innerUmbracoHelper.TypedMedia(innerUmbracoHelper.Field("projectMainImg").ToString()).Url" class="img-responsive">
                        <ul class="text-center">
                            <li>
                                <a href="@children.Url">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="reset-font-extra-small">@innerUmbracoHelper.Field("projectTitle", removeParagraphTags: true)</h1>
                    <h2 class="reset-font-extra-small">@innerUmbracoHelper.Field("projectShortDesc", removeParagraphTags: true)</h2>
                </div>
            }
        </div>
    </div>
</div>