@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Wydarzenia>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout.cshtml";
	ViewBag.ActivePage = 5;
}
<link href="/css/Events.css" rel="stylesheet" />

<div class="container ptb">
    <div class="row">
        <h2 class="centered mb reset-font-medium">
            Dzięki zaufaniu wielu firm z regionu Podbeskidzia zorganizowaliśmy lub współorganizowaliśmy wiele<br />wydarzeń branżowych dla ludzi interesujących się przede wszystkim nowymi technologiami.<br />
            Zobacz dlaczego warto nas poznać!
        </h2>
        <div class="col-md-6">
            <p class="reset-font-small">
                Nasza 6 letnia działalność i chęć szerzenia wiedzy z zakresu m.in. aplikacji webowych, prawidłowych rozwiązań i efektywnej pracy zaowocowała zaufaniem firm, które chcą z nami współpracować, ale przede wszystkim chcą dzielić się z Nami i uczestnikami naszych wykładów wiedzą zdobytą podczas
                tworzenia realnych projektów z realnych klientami.
            </p>
        </div><!--/col-md-6-->
        <div class="col-md-6">
            <p class="reset-font-small">
                Wstęp na wydarzenia organizowane przez RESET jest bezpłatny. Zapraszamy do udziału uczniów szkół średnich - szczególnie o profilu informatycznym, pasjonatów nowoczesnych technologii i wszystkich
                którzy chcą poszerzać swoją wiedzę i horyzonty!
            </p>
        </div><!--/col-md-6-->
    </div><!--/row-->
    <div class="description reset-font-medium">NADCHODZĄCE<strong> WYDARZENIA</strong></div>
</div>
<div class="container">
    <div class="row">
        <div class="image-block col-sm-4" style="background: url(/Content/images/Events/itad_img.png) no-repeat center top;background-size:cover;">
            <p class="reset-font-medium"> IT Academic Day 2016 </p>
        </div>
        <div class="image-block col-sm-8" style="background: url(/Content/images/Events/webb_img.png) no-repeat center top;background-size:cover;">
            <p class="reset-font-medium"> Webb MeetUp 2016 </p>
        </div>
    </div>
    <div class="row">
        <div class="image-block col-sm-12" style="background: url(/Content/images/Events/from_zero_to_dev_hero_img.png) no-repeat center top;background-size:cover;">
            <p class="reset-font-medium"> From Zero to Dev Hero  </p>
        </div>
    </div>
</div>
<div class="container ptb">
    <div class="description-nomargin reset-font-medium">WYDARZENIA<strong> 2016</strong></div>
</div>
<div class="container">
    <div class="row">
        <div class="image-block col-sm-4" style="background: url(/Content/images/Events/itad_img.png) no-repeat center top;background-size:cover;">
            <p class="reset-font-medium"> IT Academic Day 2016 </p>
        </div>
        <div class="image-block col-sm-8" style="background: url(/Content/images/Events/webb_img.png) no-repeat center top;background-size:cover;">
            <p class="reset-font-medium"> Webb MeetUp 2016 </p>
        </div>
    </div>
    <div class="row">
        <div class="image-block col-sm-12" style="background: url(/Content/images/Events/from_zero_to_dev_hero_img.png) no-repeat center top;background-size:cover;">
            <p class="reset-font-medium"> From Zero to Dev Hero  </p>
        </div>
    </div>
</div>