<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>

]>
<root id="-1">
  <home id="1083" key="7e841ff5-43d8-4232-b11f-34cabb3eb9e1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-15T14:27:33" updateDate="2016-02-15T14:27:33" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1081" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1080" nodeTypeAlias="home" />
</root>