<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT galeria ANY>
<!ATTLIST galeria id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>

]>
<root id="-1">
  <home id="1083" key="7e841ff5-43d8-4232-b11f-34cabb3eb9e1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-15T14:27:33" updateDate="2016-02-15T14:27:33" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1081" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1080" nodeTypeAlias="home" />
  <galeria id="1236" key="cb6b7ba8-a829-46d5-b72f-db41540ed3a7" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-02-19T23:19:30" updateDate="2016-02-19T23:40:57" nodeName="Galeria" urlName="galeria" path="-1,1236" isDoc="" nodeType="1235" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1234" nodeTypeAlias="galeria" />
</root>