<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT aktualnosci ANY>
<!ATTLIST aktualnosci id ID #REQUIRED>
<!ELEMENT aktualnosciSzczegoly ANY>
<!ATTLIST aktualnosciSzczegoly id ID #REQUIRED>
<!ELEMENT galeria ANY>
<!ATTLIST galeria id ID #REQUIRED>
<!ELEMENT galeriaSzczegoly ANY>
<!ATTLIST galeriaSzczegoly id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT kontakt ANY>
<!ATTLIST kontakt id ID #REQUIRED>
<!ELEMENT layout ANY>
<!ATTLIST layout id ID #REQUIRED>
<!ELEMENT projekty ANY>
<!ATTLIST projekty id ID #REQUIRED>
<!ELEMENT projektySzczegoly ANY>
<!ATTLIST projektySzczegoly id ID #REQUIRED>
<!ELEMENT wydarzenia ANY>
<!ATTLIST wydarzenia id ID #REQUIRED>

]>
<root id="-1">
  <layout id="1306" key="1947d2ba-aa4a-46f8-babb-36c7f950fc05" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-03-02T16:04:32" updateDate="2016-03-02T16:04:32" nodeName="ResetLayoutHidden" urlName="resetlayouthidden" path="-1,1306" isDoc="" nodeType="1281" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1082" nodeTypeAlias="layout">
    <bannerSlideImage1>1204</bannerSlideImage1>
    <bannerText1><![CDATA[Banner 1 text]]></bannerText1>
    <bannerText1Inner><![CDATA[banner 1 text inner]]></bannerText1Inner>
    <bannerSlideImage2>1205</bannerSlideImage2>
    <bannerText2Inner><![CDATA[banner 2 text inner]]></bannerText2Inner>
    <bannerText2><![CDATA[banner 2 text]]></bannerText2>
    <bannerText3Inner><![CDATA[banner 3 text inner]]></bannerText3Inner>
    <bannerSlideImage3>1206</bannerSlideImage3>
    <bannerText3><![CDATA[banner 3 text]]></bannerText3>
    <home id="1307" key="8205c097-3afd-409e-aeb6-0110b9a7aaf0" parentID="1306" level="2" creatorID="0" sortOrder="0" createDate="2016-03-02T16:04:49" updateDate="2016-03-02T16:04:49" nodeName="Home" urlName="home" path="-1,1306,1307" isDoc="" nodeType="1081" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1080" nodeTypeAlias="home" />
    <aktualnosci id="1308" key="542a8025-6dab-44d4-a45e-5e83d0cb11e7" parentID="1306" level="2" creatorID="0" sortOrder="1" createDate="2016-03-02T16:05:04" updateDate="2016-03-02T20:01:36" nodeName="Aktualnosci" urlName="aktualnosci" path="-1,1306,1308" isDoc="" nodeType="1247" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1246" nodeTypeAlias="aktualnosci">
      <aktualnosciHeader><![CDATA[<p>AKTUALNOŚCI</p>]]></aktualnosciHeader>
    </aktualnosci>
    <galeria id="1309" key="222b559c-a0b9-4c3e-8ca5-703943c69b88" parentID="1306" level="2" creatorID="0" sortOrder="2" createDate="2016-03-02T16:14:31" updateDate="2016-03-02T19:39:52" nodeName="Galeria" urlName="galeria" path="-1,1306,1309" isDoc="" nodeType="1235" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1234" nodeTypeAlias="galeria" />
    <kontakt id="1310" key="b6040940-fdf5-4b08-ae78-7506cfb295ca" parentID="1306" level="2" creatorID="0" sortOrder="3" createDate="2016-03-02T16:15:11" updateDate="2016-03-02T19:38:24" nodeName="Kontakt" urlName="kontakt" path="-1,1306,1310" isDoc="" nodeType="1244" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1243" nodeTypeAlias="kontakt" />
    <projekty id="1311" key="72e0b60e-5d01-4257-8c5c-2932987c36f5" parentID="1306" level="2" creatorID="0" sortOrder="4" createDate="2016-03-02T16:15:22" updateDate="2016-03-02T16:15:22" nodeName="Projekty" urlName="projekty" path="-1,1306,1311" isDoc="" nodeType="1241" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1240" nodeTypeAlias="projekty" />
    <wydarzenia id="1312" key="6faf9500-5cae-4829-8584-f429c588da44" parentID="1306" level="2" creatorID="0" sortOrder="5" createDate="2016-03-02T16:16:52" updateDate="2016-03-02T16:16:52" nodeName="Wydarzenia" urlName="wydarzenia" path="-1,1306,1312" isDoc="" nodeType="1238" creatorName="kjasiewicz" writerName="kjasiewicz" writerID="0" template="1237" nodeTypeAlias="wydarzenia" />
  </layout>
</root>