.modal {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    outline: none;
    background-clip: padding-box;
    border-radius: 0;
}

.button-reset-default.black {
    background-color: white;
}

@media(min-width: 768px) {
    .modal-dialog {
        right: auto;
        left: 50%;
        width: 800px;
        padding-top: 100px;
        padding-bottom: 30px;
    }
}

@media(max-width: 991px) {

    .pic-transform {
        transition-duration: 0.75s;
        -webkit-transition-duration: 0.75s;
        -moz-transition-duration: 0.75s;
        -o-transition-duration: 0.75s;
        margin-bottom: 10px;
        height: auto;
    }
}

@media(min-width: 992px) {
    .pic-transform {
        transition-duration: 0.75s;
        -webkit-transition-duration: 0.75s;
        -moz-transition-duration: 0.75s;
        -o-transition-duration: 0.75s;
        overflow: hidden;
        height: 0;
        margin-bottom: 10px;
    }

    #picture:hover .pic-transform {
        height: 90px;
    }
}




.text-display {
    color: #fff;
    height: 100%;
    background-color: #E05038;
    text-align: center;
    padding: 10px;
}

#picture:hover .text-display {
    color: #fff;
    height: 100%;
    background-color: #E05038;
    text-align: center;
    padding: 10px;
}

.oferta-img:hover {
    background-color: white;
    opacity: 0.75;
}
